extends layout

block content
  h1 
    a(href="/books") Books
  p
    a.button(href='/books/new') Create New Book
  form(action=`/books/search`, method="post") 
    input(type="text", name="search")
    button(type="submit") Search
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td 
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  //- form(action=`/books/page/${pageNum}`, method="post")
  //-   input(type="submit", name="page", value="previous")
  //- form(action=`/books/page/${pageNum}`, method="post")
  //-   input(type="submit", name="page", value="next")
  if pageNum > 1 
    a(href=`/books/page/${pageNum - 1}`) Previous
  if pageNum < totalPages
    a(href=`/books/page/${pageNum + 1}`) Next

