extends layout

block content
    h1 
        a(href='/') New Book
    if errors 
        h2.error Errors
        if errors[0]
            h3.error #{errors[0].message}
        if errors[1]
            h3.error #{errors[1].message}
    form(method='POST' action='/books/new')
        p
            label(for='title') Title
            if book
                input#title(name='title' type='text' value=`${book.title}`)
            else
                input#title(name='title' type='text')
        p
            label(for='author') Author
            if book
                input#author(name='author' type='text' value=`${book.author}`)
            else 
                input#author(name='author' type='text' )
        p
            label(for='genre') Genre
            
            if book
                input#genre(name='genre' type='text' value=`${book.genre}`)
            else
                input#genre(name='genre' type='text' )
        p
            label(for='year') Year
            if book
                input#year(name='year' type='text' value=`${book.year}`)
            else 
                input#year(name='year' type='text')
        p
            input(type='submit' value='Create New Book')
        p
            a.button(href='/') Cancel