extends layout

block content
  h1 
    a(href="/") Search
  p
    a.button(href='/books/new') Create New Book
  form(action=`/search`, method="post") 
    input(type="text", name="search")
    button(type="submit") Search
  if noResults 
    h2= noResults
  if !noResults
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td 
              a(href=`/books/${book.id}`)= book.title
            td= book.author
            td= book.genre
            td= book.year
    if pageNum > 1
      a.prev(href=`/search/${searchTerm}/page/${pageNum - 1}`) Previous
    if pageNum < totalPages
      a.next(href=`/search/${searchTerm}/page/${pageNum + 1}`) Next
    p
      a.button(href='/') Home

